{% extends "base.html" %}

{% block content %}
<div class="login-page-container">
    
    <div class="central-header">
        <div class="logo-wrapper">
            <!--<span class="camera-icon">📷</span>-->
            <img src="{{ url_for('static', filename='assets/SnapStash_Logo_200.png') }}" class="icon">
            <span class="logo-text">SnapStash</span>
        </div>
    </div>

    <div class="login-card">
        <div class="login-content">
            
            <div class="hero-section">
                <h1>Photos <span class="blue-text">preserve</span> <br>what time forgets</h1>
                <p class="hero-subtext">SNAP. STORE. SMILE. REPEAT.</p>
                <!--<a href="{{ url_for('register') }}" class="btn-outline">Register</a>-->
            </div>

            <div class="form-section">
                <h2 class="form-title">Login to your account.</h2>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    
                    <div class="input-group-custom">
                        <label>Username</label>
                        {{ form.username(class="form-control", placeholder="Username") }}
                        {% for error in form.username.errors %}
                            <span class="error-msg">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="input-group-custom">
                        <label>Password</label>
                        {{ form.password(class="form-control", placeholder="Password") }}
                        {% for error in form.password.errors %}
                            <span class="error-msg">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-check mb-3">
                        {{ form.remember_me(class="form-check-input") }} 
                        <label class="check-label text-white-50" style="font-size: 13px;">Remember Me</label>
                    </div>

                    {{ form.submit(class="btn-primary", value="LOGIN") }}

                    <p class="signup-text">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}